div.chess-container {
   min-width: 600px;
   max-width: 90%;
}
div.chessboard:first-child {
   display: table;
}
div.chessboard {
   display: none;   /* Changes to table later */
   border: solid 1px;
   min-width: 300px;
   margin-bottom: 5px;
}
div.rank {
   display: table;
   min-width: 300px;
}
div.bs, div.ws, div.bs_bp, div.bs_wp, div.ws_bp, div.ws_wp {
   display: table-cell;
   width: 1.1em;
   height: 1.1em;
   text-align: center;
   vertical-align: middle;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   border: solid 1px black;
   font-size: 36pt;
}
div.bs, div.bs_bp, div.bs_wp {
   background-color: #666666;
   /* background-color: #2b2bff; // blue */
}
div.ws, div.ws_bp, div.ws_wp {
   background-color: #bbbbbb;
   /* background-color: #49ff49; // green */
}
div.bs_bp, div.ws_bp {
   color: black;
}
div.bs_wp, div.ws_wp {
   color: white;
}
div.bs_bp {
   text-shadow: #bbbbbb 0px 0px 8px;
}
div.ws_wp {
   text-shadow: #666666 0px 0px 8px;
}
pre {
   padding: 0.25em 0.25em 0.25em 0.25em;
   font-size: 36pt;
}
div.movemenu, div.movelist {
   margin-top: 4pt;
   margin-bottom: 4pt;
}
div.movemenu {
   font-size: 20pt;
}
div.movelist {
   /* TODO: media queries for different screen sizes */
   -webkit-column-count: 8;
   -moz-column-count: 8;
   column-count: 8;
   -webkit-column-gap: 10px;
   -moz-column-gap: 10px;
   column-gap: 10px;
   padding: 0 0 0 0;
   min-width: 300px;
   max-width: 90%;
   font-size: 11pt;
}
div.movelist ol {
   display: block;
   padding-left: 1.8em;
   margin: 0 0 0 0;
}
