div.chess-container {
   min-width: 600px;
   max-width: 90%;
}
div.chessboard, div.polishboard {
   display: none;   /* Changes to table later */
                    /* Note: :first-child doesn't change the DOM value
                       so I need to set it from javascript manually */
   border: solid 1px;
   min-width: 300px;
   margin-bottom: 5px;
}
div.rank {
   display: table;
   min-width: 300px;
}
div.bs, div.ws, div.bs_bp, div.bs_wp, div.ws_bp, div.ws_wp {
   display: table-cell;
   width: 2ex;
   height: 2ex;
   text-align: center;
   vertical-align: top;   /* Vertical spacing in the type will center it */
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   border: solid 1px black;
   font-size: 36pt;
   line-height: 2.3ex;   /* Ensure standard height regardless of char height */
}
div.bs, div.bs_bp, div.bs_wp {
   background-color: #666666;
}
div.ws, div.ws_bp, div.ws_wp {
   background-color: #bbbbbb;
}
div.bs_bp, div.ws_bp {
   color: black;
}
div.bs_wp, div.ws_wp {
   color: white;
}
div.bs_bp {
   text-shadow: #bbbbbb 0px 0px 8px;
}
div.ws_wp {
   text-shadow: #666666 0px 0px 8px;
}
pre.chess_plain {
   padding: 0.25em 0.25em 0.25em 0.25em;
   font-size: 36pt;
}
div.movemenu, div.movelist {
   margin-top: 4pt;
   margin-bottom: 4pt;
}
div.movemenu {
   font-size: 20pt;
}
div.movemenu p.focalwhite, div.movemenu p.focalblack, div.movemenu p.focalstate {
   display: inline;
}
p.focalstate {
   color: #A40000;
}
div.movelist {
   -webkit-column-count: 8;
   -moz-column-count: 8;
   column-count: 8;
   -webkit-column-gap: 1em;
   -moz-column-gap: 1em;
   column-gap: 1em;
   padding: 0 0 0 0;
   font-size: 11pt;
   line-height: 1.4;
}
div.movelist ol {
   margin: 0;
}
div.movelist p.moveitem {
   /* Faking links b/c anchor tags in a multicolumn CSS div 
      causes reflow when clicked. Super annoying! */
   display: inline;
   cursor: pointer;   /* The hand */
}
